<div class="row">
  <div class="span12">
    <div class="userName bigTitle">
      <%= link_to @author.name, user_url(@author) %>'s Notes
    </div>
    <% if @notes_by_language[:noted].none? %>
      <br>
      <%= @self_page ? "You haven't" : (@author.name + " hasn't") %>
        written any notes yet.
      <% if @self_page %>
        <br><br>
        <span class="languageList">
          <% if @suggestion_language && @suggestion_language[:type] == :learning %>
            Why not
              <%= link_to ("write one in " + @suggestion_language[:language].name), new_user_note_url %>?
          <% else %>
            <%= link_to "Pick a learning language first.",
                        edit_user_registration_url %>
          <% end %>
        </span>
      <% end %>
    <% else %>
      <% @notes_by_language[:noted].each_pair do |language, language_notes| %>
        <div class="languageList">
          In
          <span class="languageName">
            <%= link_to language.name, language_url(language) %>
          </span>
        </div>
        <ul>
          <% language_notes.each do |language_note| %>
            <span class="noteTitle"
            <%= language.name == 'Arabic' ? ' dir="rtl"' : ''%>>
              <%= link_to language_note.title, user_note_url(@author, language_note) %>
            </span>
            <span class="faint">
              - <%= time_ago_in_words (language_note.created_at) %> ago
            </span>
            <br />
          <% end %>
        </ul>
      <% end %>
      <% @notes_by_language[:noteless].each do |language| %>
        <br> 
        <!-- before adding line breaks check state: 1 noted langauge, 1 noteless -->
        <font color="gray">
          <%= @self_page ? "You haven't" : (@author.name + " hasn't") %>
          written any notes in
          <span class="languageName">
            <%= link_to language.name, language_url(language) %>
          </span>
          yet.
        </font>
        <br>
      <% end %>
      <% if @self_page %>
        <br>
        <span class="noteTitle">
          <%= link_to "Write a new note", new_user_note_url %>
        </span>
      <% end %>
    <% end %>
  </div>
</div>