<div class="row">
  <div class="span12">
    <h1>New Note</h1>
    <%= form_for @note, :url => "/users/#{@author.id}/notes" do |f|%>
      <div class="row">
        <div class="span6">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>
        <div class="span6">
          <%= f.label :language_id, "Language" %>
          <%= f.collection_select :language_id, @author.learning_languages,
                                  :id, :name %>
        </div>
      </div>
      <br>

      <%= f.label :body %>
      <%= f.text_area :body, :style => "width: 700px; height: 150px;"%>
      <br>
      <%= hidden_field_tag "note[author_id]", @author.id %>
      <%= f.submit "Publish" %>
    <% end %>
  </div>
</div>