By <%= link_to @note.author.name, user_url(@note.author) %>
in <%= link_to @note.language.name, language_url(@note.language) %>
<h1><%= @note.title %></h1>
<%= @note.body %>
<br>
<% if ! @self_page && current_user.known_languages.include?(@note.language) %>
  <br>
  <%= link_to "Revise", new_revision_url(@note) %>
<% end %>
<% if @note.revisions.any? %>
  <h2>Revisions</h2>
  <ul>
    <% @note.revisions.each do |revision| %>
      by <%= link_to revision.revisor.name, revision_url(revision) %><br>
    <% end %>
  </ul>
<% else %>
  <br><br>
  <font color="gray">No one has revised this note yet</font>
<% end %>