<div class="row">
  <div class="span5">
    <%= form_tag "/users", :method => :put, #/#{current_user.id}
      :class => "form-inline" %>
      <div class="row">
        <div class="span6">
          <h1>Languages</h1>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <h3>Known</h3>
          <%= hidden_field_tag "user[known_language_ids][]", "" %>
          <% Language.all.each do |language| %>
            <label class="checkbox">
              <%= check_box_tag "user[known_language_ids][]", language.id,
                current_user.known_languages.include?(language) %>
              <font size="4px" class="languageName">
                <%= language.name %>
              </font>
            </label>
            <br>
          <% end %>
        </div>
        <div class="span3">
          <h3>Learning</h3>
          <%= hidden_field_tag "user[learning_language_ids][]", "" %>
          <% Language.all.each do |language| %>
            <label class="checkbox">
              <%= check_box_tag "user[learning_language_ids][]", language.id,
                current_user.learning_languages.include?(language) %>
              <font size="4px" class="languageName">
                <%= language.name %>
              </font>
            </label>
              <br>
          <% end %>
        </div>
      </div>
      <br>
      <div class="span1"></div>
      <div class="row">
        <%= submit_tag "Update Languages" %>
      </div>
    </form>
  </div>

  <div class="span6">
    <h3>Change Password</h3>
    <!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <!-- <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %> -->

      <div><!-- <%= f.label :password, :class => "hidden" %> --> <!-- <i>(leave blank if you don't want to change it)</i><br /> -->
      <%= f.password_field :password, :autocomplete => "off", :placeholder => "New password" %></div>

      <div><!-- <%= f.label :password_confirmation %> -->
      <%= f.password_field :password_confirmation, :placeholder => "New password confirmation" %></div>

      <div><!-- <%= f.label :current_password %> --> <!-- <i>(we need your current password to confirm your changes)</i><br /> -->
      <%= f.password_field :current_password, :placeholder => "Current password" %></div>

      <div><%= f.submit "Change Password" %></div>
    <% end %>

    <h3>Delete account</h3>

    <p>Some people just aren't interested in exploring the breadth of the human experience. <%= button_to "Delete my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>
  </div>
</div>

