<div class="row">
  <div class="span10 bigTitle languageName">
    <%= @language.name %>
  </div>
</div>
<div class="row">
  <div class="span5 centerbox">
    <div class="centerboxCount"><%= @language.knowers.count %></div>
    <div class="centerboxUnit">
      <%= @language.knowers.count == 1 ? "person" : "people" %>
    </div>
    <div class="centerboxVerb">
      <%= @language.knowers.count == 1 ? "knows" : "know" %>
    </div>
    <div class="centerboxLang"><%= @language.name %></div>
    <div class="row">
      <% @language.knowers.each do |knower| %>
        <div class="userName centerboxList">
          <%= link_to knower.name, user_url(knower) %>
        </div>
        <br>
      <% end %>
    </div>
  </div>
  <div class="span5 centerbox">
    <div class="centerboxCount"><%= @language.learners.count %></div>
    <div class="centerboxUnit">
      <%= @language.learners.count == 1 ? "person is" : "people are" %>
    </div>
    <div class="centerboxVerb">learning</div>
    <div class="centerboxLang"><%= @language.name %></div>
    <div class="row">
      <% @language.learners.each do |learner| %>
        <div class="userName centerboxList">
          <%= link_to learner.name, user_url(learner) %>
        </div>
        <br>
      <% end %>
    </div>
  </div>
</div>

