<div class="row">
  <div class ="span12 bigTitle">
    <%= @user.name %>
  </div>
</div>
<div class="row">
  <div class ="span12">
    <% unless @self_page %>
      <%= render 'layouts/bebuddy_button', :locals =>
        { :user => @user,
          :buddyship_proposal => @buddyship_proposal,
          :is_buddy => @is_buddy } %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class ="span12 languageList">
  	 <% if @knowings.any? %>
        Knows
      	<%= @knowings.map do |knowing| %>
          <% '<span class="languageName">' +
            (link_to knowing.language.name, language_url(knowing.language)) +
          '</span>' %>
      	<% end.join(", ").html_safe %>
  	<% else %>
  		<%= link_to "What language(s) do you know?", edit_user_registration_path %>
  	<% end %>
  </div>
</div>
<div class="row">
  <div class ="span12 languageList">
  	<% if @learnings.any? %>
  	  Learning
      <%= @learnings.map do |learning| %>
        <% '<span class="languageName">' +
          (link_to learning.language.name, language_url(learning.language)) +
        '</span>' %>
  		<% end.join(", ").html_safe %>
    <% else %>
  		<%= link_to "What language(s) are you learning?",
       edit_user_registration_path %>
  	<% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="span6">
    <span class="noteTitle listTitle">
      <%= link_to "Notes", user_notes_url(@user) %>
    </span>
    <span class="faint">(<%= @notes.count %>)</span>
    <br><br>
  	<% if @learnings.any? %>
  			<ul>
  				<% @notes.each do |note| %>
  					<span class="noteTitle"
              <%= note.language.name == 'Arabic' ? ' dir="rtl"' : ''%>>
              <%= link_to note.title, user_note_url(@user.id, note) %>
            </span>
            <span class="faint">
              - <%= time_ago_in_words (note.created_at) %> ago
            </span>
            <br>
  				<% end %>
          <br>
          <span class="noteTitle">
            <%= link_to "New note", new_user_note_url(@user) if @self_page%>
          </span>
  			</ul>
  	<% end %>
  </div>
  <div class="span5">
    <span class="userName listTitle">
      <%= link_to "Buddies", user_buddyships_url(@user) %>
    </span>
    <span class="faint">(<%= @user.buddies.count %>)</span>
    <br><br>
    <ul>
      <% @user.buddies.each do |buddy| %>
        <span class="userName">
          <%= link_to buddy.name, user_url(buddy) %>
        </span>
        <br>
      <% end %>
      <% if @self_page && @user.received_buddyship_proposals.any? %>
        <br>
        <% @user.received_buddyship_proposals.each do |buddyship_proposal| %>
          <%= render :partial => 'layouts/buddyship_proposal',
            :locals => {:buddyship_proposal => buddyship_proposal} %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>