<div class="row">
  <h1><%= @user.name %></h1>
</div>
<div class="row">
  <% unless @self_page %>
    <%= render 'layouts/bebuddy_button', :locals =>
      { :user => @user,
        :buddyship_proposal => @buddyship_proposal,
        :is_buddy => @is_buddy } %>
  <% end %>
</div>
<div class="row">
  <h4>
	 <% if @knowings.any? %>
      Knows
  	  <%= @knowings.map do |knowing| %>
  			<% link_to knowing.language.name, knowing_url(knowing) %>
  	  <% end.join(", ").html_safe %>
	<% else %>
		<%= link_to "What language(s) do you know?", edit_user_registration_path %>
	<% end %>
  </h4>
</div>
<div class="row">
  <h4>
  	<% if @learnings.any? %>
  	  Learns
      <%= @learnings.map do |learning| %>
  		  <% link_to learning.language.name, learning_url(learning) %>
  		<% end.join(", ").html_safe %>
  	<% else %>
  		<%= link_to "What language(s) are you learning?",
       edit_user_registration_path %>
  	<% end %>
  </h4>
</div>
<br>
<div class="row">
  <!-- currently ALL notes -->
  <div class="span6">
    <div class="row">
      <div class="span4">
        <b>Notes</b>
      </div>
      <div class="span2">
        <%= link_to "New note", new_note_url(@user) if @own_profile%>
      </div>
    </div>
    <br>
  	<% if @learnings.any? %>
  			<ul>
  				<% @notes.each do |note| %>
  					<%= link_to note.title, note_url(note) %>
            <br>
  				<% end %>
          <%= link_to "Show all...", notes_url(@user) %>
  			</ul>
  	<% end %>
  </div>
  <div class="span6">
    <b><%= link_to "Buddies", buddyships_url(@user) %></b>
    <font color="gray"> (<%= @user.buddies.count %>) </font> <br><br>
    <% if @self_page && @user.received_buddyship_proposals.any? %>
      <% @user.received_buddyship_proposals.each do |buddyship_proposal| %>
        <%= render :partial => 'layouts/buddyship_proposal',
          :locals => {:buddyship_proposal => buddyship_proposal} %>
      <% end %>
    <% end %>
    <% @user.buddies.each do |buddy| %>
      <%= link_to buddy.name, user_url(buddy) %> <br>
    <% end %>
  </div>
</div>