<div class="row">
  <div class="span12">
    <h1>
      <span class="userName bigTitle">
        <%= link_to @user.name, user_url(@user) %>'s Buddies
      </span>
    </h1>
    <span class="languageList">
      <% if @buddies.none? %>
        <% if @self_page %>
          <h4>You don't have any buddies yet.</h4>
          <% if @suggestion_language.nil? %>
            <%= link_to "Try picking some languages first.", edit_user_registration_url %>
          <% else %>
            Why not bebuddy
            <% if @suggestion_language[:type] == :learning %>
               <%= link_to "someone who knows " +
                "#{@suggestion_language[:language].name}",
                language_url(@suggestion_language[:language]) %>?
            <% else %>
              <%= link_to "someone learning " +
              "#{@suggestion_language[:language].name}",
              language_url(@suggestion_language[:language]) %>?
            <% end %>
          <% end %>
        <% else %>
          <%= @user.name %> doesn't have any buddies yet. <br>
          <%= render 'layouts/bebuddy_button', :locals =>
            { :user => @user,
              :is_buddy => @is_buddy,
              :buddyship_proposal => @buddyship_proposal } %>
        <% end %>
      <% else %>
        <% if @buddyship_proposal %>
          <%= render :partial => 'layouts/buddyship_proposal',
            :locals => {:buddyship_proposal => @buddyship_proposal} %>
        <% end %>
        <% @buddies.each do |buddy| %>
          <span class="userName">
            <%= link_to buddy.name, user_url(buddy) %>
          </span>
          <br>
        <% end %>
      <% end %>
    </span>
  </div>
</div>