<!DOCTYPE html>
<html>
<head>
  <title>TongueTrader</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="flash">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <div class="topbar">
    <%= link_to current_user.name, user_url(current_user) if user_signed_in?%>
    <%= link_to "Sign out", destroy_user_session_url,
      :method => :delete if user_signed_in?%>
  </div>

<%= yield %>

</body>
</html>
