<%= stylesheet_link_tag "bootstrap.css" %>
<%= stylesheet_link_tag "welcome.css" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

<div class="welcome">
	<div class="welcome-title">
		Language Learning Commons
	</div>
	<div class="welcome-subtitle">
		<%= link_to "Luke Persola", "http://www.lukepl.com/"%>'s capstone project at
		<%= link_to "App Academy", "http://www.appacademy.io/" %>
	</div>
	<div class="features">
		<table>
			<tr>
				<td class="feature-text">
					<div>Each user indicates which languages they are learning and which they can help others learn.</div>
				</td>
				<td class="feature-pic">
					<%= image_tag "LLC_featureImage1.png" %>
				</td>
			</tr>
			<tr>
				<td class="feature-text">
					<div>Fluid navigation makes it easy to <br /> find and connect to other users. <br /> Try clicking around.</div>
				</td>
				<td class="feature-pic">
					<%= image_tag "LLC_featureImage2.png" %>
				</td>
			</tr>
					<tr>
				<td class="feature-text">
					<div>Users can practice a language <br /> by publishing notes.</div>
				</td>
				<td class="feature-pic">
					<%= image_tag "LLC_featureImage3.png" %>
				</td>
			</tr>
			<tr>
				<td class="feature-text">
					<div>You can correct notes other users have published in languages you know. Highlight an excerpt and choose "revise" or "comment". </div>
				</td>
				<td class="feature-pic">
					<%= image_tag "LLC_featureImage4.png" %>
				</td>
			</tr>
			<tr>
				<td class="feature-text">
					<div>Hover over comments <br /> and revisions to reveal them. </div>
				</td>
				<td class="feature-pic">
					<%= image_tag "LLC_featureImage5.png" %>
				</td>
			</tr>
		</table>
		<br /><br /><br /><br /><br /><br /><br />
		Click the button below to try it out.
		<br /><br /><br /><br /><br />
	</div>
	<div class="tools">
		<div class="tool-text">
			<br />
			<b>About</b>
			<br /><br />
			Most of the app used a standard, RESTful Rails pattern. The system for correcting notes was made from an incomplete set of Backbone features. I used Devise, Twitter Bootstrap, and the jQuery-color plugin; the rest is mine.
			<br /><br />
		</div>
	</div>
	<div class="welcome-prompts-buffer"></div>
	<div class="welcome-prompts">
		<table>
			<tr>
				<td>
					<%= render :partial => "layouts/create_demo_user_button" %>
				</td>
				<td>
					<form action="<%= new_user_registration_url %>">
						<button class="btn-large">
							Sign Up
						</button>
					</form>
				</td>
				<td>
					<form action="<%= new_user_session_url %>">
						<button class="btn-large">
							Sign In
						</button>
					</form>
				</td>
			</tr>
		</table>
	</div>
</div>