<%= stylesheet_link_tag "bootstrap.css" %>
<%= stylesheet_link_tag "welcome.css" %>

<div class="welcome">
	<div class="welcome-title">
		Language Learning Commons
	</div>
	<div class="welcome-subtitle">
		<%= link_to "Luke Persola", "http://www.lukepl.com/"%>'s capstone project at
		<%= link_to "App Academy", "http://www.appacademy.io/" %>
	</div>
	<div class="features">
		<table>
			<tr>
				<td class="feature-text">
					<div>This is a decription of a feature of the site.</div>
				</td>
				<td class="feature-pic">
					<div class="test-pic">

					</div>
				</td>
			</tr>
			<tr>
				<td class="feature-text">
					<div>Connect with native speakers of languages you want to learn, and help other people learn your language.</div>
				</td>
				<td class="feature-pic">
					<div class="test-pic">

					</div>
				</td>
			</tr>
					<tr>
				<td class="feature-text">
					<div>Make corrections to notes other users have written in your native language.</div>
				</td>
				<td class="feature-pic">
					<div class="test-pic">

					</div>
				</td>
			</tr>
			<tr>
				<td class="feature-text">
					<div>And see what corrections native speakers have made to your writing.</div>
				</td>
				<td class="feature-pic">
					<div class="test-pic">

					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="tools">
		<div class="tool-text">
			<br />
			This is a standard, RESTful Rails app, except for the system for revising users' notes, which was done with Backbone. I used Devise for authentication and Twitter Bootstrap; the rest is mine.
		</div>
	</div>
	<div class="welcome-prompts-buffer"></div>
	<div class="welcome-prompts">
		<table>
			<tr>
				<td>
					<%= render :partial => "layouts/create_demo_user_button" %>
				</td>
				<td>
					<form action="<%= new_user_registration_url %>">
						<button class="btn-large">
							Sign Up
						</button>
					</form>
				</td>
				<td>
					<form action="<%= new_user_session_url %>">
						<button class="btn-large">
							Sign In
						</button>
					</form>
				</td>
			</tr>
		</table>
	</div>
</div>